.footer {
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #fffbbe;
    z-index: 10000;
    color: black;
    height: 5%;
    font-size: small;
    text-align: center;
 }