<app-header></app-header>

<div class="panel panel-default" style="margin: 20px">
    <div class="panel-heading common-header">Dashboard</div>
  <div class="panel-body">
    <div class="container">
      <div class="row">

        <div class="col-lg-3">
          <div class="panel panel-info">

            <div class="panel-heading">
              <a (click)="gotoFoodRecords()">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-phone fa-4x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading orderCount">230</p>
                    <p class="announcement-text cardTitle">Food Calls</p>
                  </div>
                </div>
              </a>

            </div>


          </div>
        </div>


        <div class="col-lg-3">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-hand-peace-o fa-4x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading orderCount">12</p>
                  <p class="announcement-text cardTitle"> Plates Served</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading orderCount">18</p>
                  <p class="announcement-text cardTitle">Users</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-success">
            <div class="panel-heading">
              <a (click)="gotoOrders()">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-4x"></i>                    
                  </div>
                  <div class="col-xs-6">
                    <p class="announcement-heading orderCount text-right">155</p>                                       
                  </div>
                  <div class="col-xs-12">
                      <p class="announcement-text cardTitle text-right"> Orders Completed</p>
                  </div>        
                  
                </div>
              </a>

            </div>

            <!-- DONOT DELETE THE BELOW CODE, MAY REQUIRE IN FUTURE -->


            <!-- <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6" style="font-size: 12px">
                  Completed
                </div>
                <div class="col-xs-6 text-right" style="font-size: 12px">
                  500
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div>
</div>