<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <h3 style="padding-left: 20px;color: white" >Sharingo</h3>
    <a routerLink = "donor/newdonorform" (click)="closeNav()"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;Donor Form</a>
    <a routerLink = "orders" (click)="closeNav()"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Orders</a>
    <a routerLink="foodrecords" (click)="closeNav()"><i class="fa fa-clipboard"></i>&nbsp;&nbsp;Food Records</a>
    

    <a routerLink="volunteer" (click)="closeNav()"><i class="fa fa-truck"></i>&nbsp;&nbsp;Volunteers</a>
    <a routerLink="feedback" (click)="closeNav()"><i class="fa fa-user"></i>&nbsp;&nbsp;Feedback</a>

    <a routerLink="" (click)="closeNav()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
    
  </div>
  
  