<app-header></app-header>

<div class="panel panel-default" style="margin: 20px">
        <div class="panel-heading common-header">Food Call Records</div>
    <div class="panel-body" style="padding-top: 6px">

        <div style="padding-bottom: 30px">
            <div style="padding-bottom: 23px ">
                <ngx-datatable class="material fullscreen" [rows]="foodRecords" style="top: 10px" [columnMode]="'force'"
                    headerHeight="50" footerHeight="40" rowHeight="auto" [limit]="6" [scrollbarH]="true">
                    <ngx-datatable-column name="#" width="80">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <p>{{rowIndex + 1}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Donor Name" prop="name"></ngx-datatable-column>
                    <ngx-datatable-column name="Food Count" prop="foodCount"></ngx-datatable-column>
                    <ngx-datatable-column name="Food Items" prop="foodItems"></ngx-datatable-column>
                    <ngx-datatable-column name="Service Charge" prop="serviceCharge"></ngx-datatable-column>
                    <ngx-datatable-column name="Operator Name" prop="operatorName"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>

    </div>
</div>