/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
 
body {
    font-size: 0.9rem;
  }
  .page-wrapper.toggled .sidebar {
    left: -300px;
  }
  .sidebar .ps.ps--scrolling-y > .ps__rail-y, .sidebar > .ps.ps--scrolling-x > .ps__rail-x, .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
  }
  .sidebar .ps.ps--active-y > .ps__rail-y:hover, .sidebar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
    width: 10px !important;
  }
  .ps__thumb-y {
    background-color: #fff !important;
    width: 6px !important;
    border-radius: 0px !important;
    opacity: 0.5;
  }

  .common-label{
    font-size: small;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .common-header{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }

  .common-gap{
    padding-bottom: 6px;
  }

  ngx-datatable {
    font-size: 14px;
  }

  ngx-datatable .datatable-header-cell-label{
    font-size: 17px;
    font-weight: bold;
  }