<app-header></app-header>
<div style="padding-top: 30px">

    <div class="panel panel-default">
        <div class="panel-heading common-header">Orders</div>
        <div class="panel-body">

        <div style="padding-left: 30px;padding-right: 30px; padding-bottom: 23px;">
                <ngx-datatable class="material fullscreen" [rows]="foodRecords" style="top: 20px" [columnMode]="'force'"
                headerHeight="50" footerHeight="40" rowHeight="auto" (select)="onSelect($event)"
                [limit]="10" [scrollbarH]="true">
                
                <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
                <ngx-datatable-column name="Food Count" prop="foodCount"></ngx-datatable-column>
                <ngx-datatable-column name="Food Items" prop="foodItems"></ngx-datatable-column>
                <ngx-datatable-column name="Service Charge" prop="serviceCharge"></ngx-datatable-column>
                <ngx-datatable-column name="Operator Name" prop="operatorName"></ngx-datatable-column>
                <ngx-datatable-column name="Complete Order" prop="ID">
                    <ng-template ngx-datatable-cell-template let-row="row">

                        <a *ngIf="row.completed == 0;else completed" class="btn btn-default" (click)="openModal(complete,'complete')" area-label="complete">
                            Complete Now
                        </a>
                    <ng-template #completed>
                       &nbsp; <a class="btn btn-success" (click)="openModal(view,'view')" area-label="view">
                            View Details
                        </a>
                    </ng-template>
                        <ng-template #complete>
                            <div class="modal-header">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                            </div>
                            <div class="modal-body">        
                                <app-collection-distribution-edit [operator]="row.operatorName" [operatorID]="row.operatorID" [OrderID]="row.donorId" [foodRecordID]="row.id" (refreshParent)=refresh() ></app-collection-distribution-edit>
                            </div>
                        </ng-template> 

                        <ng-template #view>
                            <div class="modal-header">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                            </div>
                            <div class="modal-body">        
                                <app-order-view [operator]="row.operatorName" [operatorID]="row.operatorID" [DonorID]="row.donorId" [foodRecordID]="row.id" ></app-order-view>
                            </div>
                        </ng-template> 

                    </ng-template>

                </ngx-datatable-column>

                

            </ngx-datatable>
        </div>
        </div>
       </div> 
        
    

</div>