<div class="panel panel-default">
    <div class="panel-heading common-header">Order Details</div>
    <div class="panel-body">
        <div class="common-header"><b>Donor Details</b> </div><hr>

        <div class="col-md-12 common-gap">
            <div class="col-md-4">
                <label class="common-label" for="id">Donor Name :</label>
            </div>
            <div class="col-md-6">
               {{orderDetails[0].donorName}}
            </div>
        </div><br>


    </div>
</div> 